:root {
    --base-font-size       : 14px;
    --theme-color          : #F57C00;

    /* Strong */
    --strong-color         : #F57C00;
    --strong-font-weight   : 600;
}

/* Cover
============================================================================= */
:root {
    /* Background */
    --cover-background-image                           : linear-gradient(60deg, #29323c 0%, #485563 100%);;

    /* Buttons */
    --cover-button-background                          : ;
    --cover-button-background--hover                   : #F57C00;
    --cover-button-border                              : 1px solid #fff;
    --cover-button-border--hover                       : 1px solid #F57C00;
    --cover-button-border-radius                       : var(--border-radius-m);
    --cover-button-box-shadow                          : ;
    --cover-button-box-shadow--hover                   : ;
    --cover-button-color                               : #fff;
    --cover-button-color--hover                        : #fff;
    --cover-button-padding                             : 0.5em 2rem;
    --cover-button-text-decoration                     : none;
    --cover-button-text-decoration--hover              : ;
    --cover-button-text-decoration-color               : ;
    --cover-button-text-decoration-color--hover        : ;
    --cover-button-transition                          : all var(--duration-fast) ease-in-out;

    /* Buttons - Primary */
    --cover-button-primary-background                  : ;
    --cover-button-primary-background--hover           : #F57C00;
    --cover-button-primary-border                      : 1px solid #fff;
    --cover-button-primary-border--hover               : 1px solid #F57C00;
    --cover-button-primary-box-shadow                  : ;
    --cover-button-primary-box-shadow--hover           : ;
    --cover-button-primary-color                       : #fff;
    --cover-button-primary-color--hover                : #fff;
    --cover-button-primary-text-decoration             : ;
    --cover-button-primary-text-decoration--hover      : ;
    --cover-button-primary-text-decoration-color       : ;
    --cover-button-primary-text-decoration-color--hover: ;
}


/* Sidebar
============================================================================= */
:root {
    --sidebar-width                                    : 20rem;

    /* Name */
    --sidebar-name-background                          : ;
    --sidebar-name-color                               : #F57C00;
    --sidebar-name-font-family                         : ;
    --sidebar-name-font-size                           : var(--font-size-l);
    --sidebar-name-font-weight                         : ;
    --sidebar-name-margin                              : 1.5rem 0 0;
    --sidebar-name-padding                             : ;
    --sidebar-name-text-align                          : center;

    /* Nav Links */
    --sidebar-nav-link-border-color--active            : #F57C00;
    --sidebar-nav-link-color                           : var(--base-color);
    --sidebar-nav-link-color--active                   : #F57C00;
    --sidebar-nav-link-color--hover                    : #F57C00;
    --sidebar-nav-link-font-weight--active             : bold;
    --sidebar-nav-link-text-decoration                 : ;
    --sidebar-nav-link-text-decoration--active         : ;
    --sidebar-nav-link-text-decoration--hover          : ;
    --sidebar-nav-link-text-decoration-color           : ;
    --sidebar-nav-link-transition                      : all var(--duration-fast) ease-in-out;

    /* Nav Page Links */
    --sidebar-nav-pagelink-background-image            : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='11.2' viewBox='0 0 7 11.2'%3E%3Cpath d='M1.5 1.5l4 4.1 -4 4.1' stroke-width='1.5' stroke='#F57C00' fill='none' stroke-linecap='square' stroke-linejoin='miter' vector-effect='non-scaling-stroke'/%3E%3C/svg%3E");
    --sidebar-nav-pagelink-background-image--active    : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.2' height='7' viewBox='0 0 11.2 7'%3E%3Cpath d='M1.5 1.5l4.1 4 4.1-4' stroke-width='1.5' stroke='#F57C00' fill='none' stroke-linecap='square' stroke-linejoin='miter' vector-effect='non-scaling-stroke'/%3E%3C/svg%3E");
    --sidebar-nav-pagelink-background-image--collapse  : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='11.2' viewBox='0 0 7 11.2'%3E%3Cpath d='M1.5 1.5l4 4.1 -4 4.1' stroke-width='1.5' stroke='#F57C00' fill='none' stroke-linecap='square' stroke-linejoin='miter' vector-effect='non-scaling-stroke'/%3E%3C/svg%3E");
    --sidebar-nav-pagelink-background-image--loaded    : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.2' height='7' viewBox='0 0 11.2 7'%3E%3Cpath d='M1.5 1.5l4.1 4 4.1-4' stroke-width='1.5' stroke='#F57C00' fill='none' stroke-linecap='square' stroke-linejoin='miter' vector-effect='non-scaling-stroke'/%3E%3C/svg%3E");
    --sidebar-nav-pagelink-transition                  : all var(--duration-fast) ease-in-out;

    /* Toggle */
    --sidebar-toggle-icon-color                        : #F57C00;
}

/* Content
============================================================================= */
:root {
    /* Headings */
    --heading-font-weight               : bold;

    /* Links */
    --link-color                        : #F57C00;
    --link-color--hover                 : #F57C00;
    --link-text-decoration-color--hover : #F57C00;
}

.markdown-section a.anchor:hover {
    text-decoration: underline;
    text-decoration-color: #F57C00;
}

.markdown-section a.anchor:focus {
    text-decoration: underline;
    text-decoration-color: #F57C00;
}

.pagination-item a:hover .pagination-item-title {
    text-decoration: underline !important;
    text-decoration-color: #F57C00 !important;
}

@media (min-width: 576px) { 
    .cover-main p img {
        width: 60vw;
    }
}

@media (min-width: 768px) { 
    .cover-main p img {
        width: 50vw;
    }
}

@media (min-width: 992px) { 
    .cover-main p img {
        width: 40vw;
    }
}

@media (min-width: 1200px) { 
    .cover-main p img {
        width: 30vw;
    }
}

@media (min-width: 2000px) { 
    .cover-main p img {
        width: 20vw;
    }
}